.clearfix {
  zoom:1;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

.container {
	width: 750px;
	margin: 0 auto;
}
/* clearfix */
	.container__row {}
	.container__block {
		float: left;
		width: 45px;
		height: 45px;
		margin: 2px;
		background: black;
	}
/*	.container__block--occupy ~ .container__block{
		background: red;
	}*/
	.container__block--occupy {
		background: blue;
	}
	.container__block--tetris {
		background: grey;
	}
